<form action="/payment/results">
  <div>
    <label for="test">APR</label>
    <input id="test" type="text" placeholder="E.g. 5.42" name="user_apr">
  </div>

   <div>
    <label for="test2">Number of years</label>
    <input id="test2" type="text" placeholder="How many years to repay?" name="user_years">
  </div>

   <div>
    <label for="test3">APR</label>
    <input id="test3" type="text" placeholder="How much principal?" name="user_pv">
  </div>

  <button>Calculate square root</button> 
</form>
