<h1>Random Results</h1>

<div>
  <dl>
    <dt>Minimum</dt>
    <dd><%= @rand_user_min %></dd>

    <dt>Maximum</dt>
    <dd><%= @rand_user_max %></dd>

    <dt>Random Number</dt>
    <dd><%= @rand_nbr %>
  </dl>
</div>

<a href="/random/new">Pick another random number</a>
