<h1>Square Root Results</h1>

<div>
  <dl>
    <dt>Number</dt>
    <dd><%= @num_to_sqrt %></dd>

    <dt>Square Root</dt>
    <dd><%= @sqrt_num %></dd>

  </dl>
</div>

<a href="/square_root/new">Calculate another square root</a>
